apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ldap-auth

resources:
- ../../base
# Ingress disabled by default (internal service)
# Uncomment if external access is required:
# - ingress.yaml

patches:
- path: deployment-patch.yaml

configMapGenerator:
- name: ldap-auth-config
  behavior: merge
  literals:
  - LOG_LEVEL=info
  - RUST_LOG=ldap_auth_rs=info

images:
- name: docker.io/falkordb/ldap-auth-rs
  newTag: v0.1.3

replicas:
- name: ldap-auth-rs
  count: 2
